.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fullscreen {
  position: fixed;
  inset: 0;
  background-color: var(--opacity-white-60);
  backdrop-filter: blur(2px);
  z-index: 9999;
  pointer-events: all;
}

.inline {
  display: inline-flex;
  width: 100%;
  padding: 10px;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid var(--theme-light);
  border-top: 4px solid var(--theme-main);
  border-radius: 50%;
  animation: spin 1s linear infinite;
  will-change: transform;
}

button .spinner {
  width: 20px;
  height: 20px;
  border-width: 2px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}