.wrapper {
  padding: 24px;
  border: 1px solid #eee;
  border-radius: 12px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* input,
textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

button {
  padding: 10px;
  background-color: #e44848;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
} */

.success {
  margin-top: 12px;
  color: green;
  font-weight: 500;
}
