.wrapper {
background: #ffffff;
padding: 32px;
border-radius: 20px;
box-shadow: 0 10px 30px rgba(0, 0, 0, 0.04);
}

.title {
font-size: 20px;
font-weight: 600;
margin-bottom: 8px;
}

.text_book{
font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 150%;
color: #6c717b;
margin-bottom: 24px;
}
.subtitle {
font-size: 14px;
color: #666;
margin-bottom: 24px;
}

.form {
display: flex;
flex-direction: column;
align-items: center;
gap: 16px;
}


.form input,
.form textarea {
border: none;
border-radius: 12px;
padding: 18px 337px 18px 18px;
width: 527px;
height: 60px;
background: #fafafa;

}

.form input:focus,
.form textarea:focus {
border-color: #e53935;
background: #fff;
}

.form textarea {
min-height: 100px;
resize: none;
}


.form input[type="date"] {
color: #666;
}


.button {
border: none;
border-radius: 200px;
padding: 16px 60px;
height: 56px;
width: 166px;
background: #e44848;
margin-top: 40px;
font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
line-height: 150%;
letter-spacing: -0.01em;
color: var(--white);
white-space: nowrap;
display: flex;
justify-content: center;
align-items: center;

}

.button:hover,
.button:focus {
background: #D84343;
}

.button:disabled {
background: #ccc;
cursor: not-allowed;
}


.success {
margin-top: 16px;
color: #2e7d32;
font-weight: 500;
}
