.catalog_wrapper{
   display: flex;
  gap: 64px;
  padding: 0px 64px; 
  max-width: 1312px;
  
}

.filters {
  width: 360px;
}

.results {
  flex: 1;
display: flex;
  flex-direction: column;
  gap: 24px;
}

.text {
font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 150%;
color: var(--gray);
margin-top: 40px;
}

.location_input{
    border: none;
margin-top: 8px;
border-radius: 12px;
padding: 18px 218px 18px 20px;
width: 360px;
height: 56px;
background: #F7F7F7;
}

.text_h3{
    font-family: var(--font-family);
font-weight: 600;
font-size: 20px;
line-height: 120%;
color: var(--main);
margin-top: 32px;
}
.divider{
 width: 100%;
  height: 1px;
  background-color: #DADDE1; /* або твій var(--gray-light) */
  margin: 24px 0;
}

.eqipment_list{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  
}
.vehicle_type{
 display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.filter_button {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
   flex: 0 0 calc((100% - 24px) / 3);

  width: 112px;
  height: 96px;

  

  border: 1px solid #D0D5DD;
  border-radius: 12px;

  background: white;
  cursor: pointer;

  color: #101828;
  transition: all 0.2s ease;
}

/* ховаємо input */
.filter_button input {
  display: none;
}

/* active state */
.active {
  border: 1px solid #E44848;
  color: #E44848;
}

.icon {
  display: block;
  color: #101828;
}

.button {
border: none;
border-radius: 200px;
padding: 16px 60px;
height: 56px;
background: #e44848;
margin-top: 40px;
font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
line-height: 150%;
letter-spacing: -0.01em;
color: var(--white);
white-space: nowrap;
display: flex;
justify-content: center;
align-items: center;

}

.button:hover,
.button:focus {
    background: #D84343;
}

.rating{
     color: #ffc531;
  font-weight: 500;
}
.button_load{
border: 1px solid #F2F4F7;
border-radius: 200px;
padding: 16px 32px;
width: 145px;
height: 56px; 
 margin-top: 8px;
}