.catalog_wrapper{
   display: flex;
  gap: 64px;
  padding: 0px 64px; 
  max-width: 1200px;
  margin: 0 auto; 
}

.filters {
  width: 360px;
}

.results {
  flex: 1;
}

.text {
font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 150%;
color: var(--gray);
}

.text_h3{
    font-family: var(--font-family);
font-weight: 600;
font-size: 20px;
line-height: 120%;
color: var(--main);
}
.divider{
 width: 100%;
  height: 1px;
  background-color: #DADDE1; /* або твій var(--gray-light) */
  margin: 24px 0;
}

.eqipment_list{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  
}
.vehicle_type{
 display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.filter_button {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
   flex: 0 0 calc((100% - 24px) / 3);

  width: 112px;
  height: 96px;

  

  border: 1px solid #D0D5DD;
  border-radius: 12px;

  background: white;
  cursor: pointer;

  color: #101828;
  transition: all 0.2s ease;
}

/* ховаємо input */
.filter_button input {
  display: none;
}

/* active state */
.active {
  border: 1px solid #E44848;
  color: #E44848;
}

.icon {
  display: block;
  color: #101828;
}
